* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	color: white;
	font-size: 2.5em;
}

#player {
  width: 100%;
  height: 100vh;
}

.wrapper {
	position: absolute;
	height: auto;
	width: 100%;
	bottom: 10vh;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.buttonDiv {
	height: auto;
	width: auto;
	color: green;
	border: 4px solid white;
	padding: 10px;
	cursor: pointer;
	visibility: collapse;
	pointer-events: all;
}

.controls {
	position: absolute;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	pointer-events: none;
	right: 0;
	top: 0;
	flex-direction: column;
	visibility: collapse;
}

.controls span {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
	color: white;
	pointer-events: all;
	cursor: pointer;
	font-size: 6em !important;
	margin: 0.1em;
}

@media (pointer: coarse) {
	.icon {
		visibility: visible;
	}
}
